
@import './button.css';


.item {
    width: 100%;
    margin: 0 auto;
    margin-top: 36px;
}
.item .nav {
    margin-bottom: 14px;
}

.item .nav h3 {
    font-size: 20px;
    height: 28px;
    line-height: 28px;
    letter-spacing: 2px;
    position: relative;
    color: #262729;
    -webkit-transition: all .28s;
    transition: all .28s;
    padding-right: 46px;
    font-weight: 700;
}

.item .details {
    background-color: #fff;
    padding: 12px 20px 36px;
    border-radius: 8px;
    text-align: center;
}

.item .details .site {
    /* width: 210px;
    height: 30px;
    line-height: 30px;
    margin-top: 20px;
    position: relative;
    font-size: 0; */
    height: 30px;
    line-height: 30px;
    margin-top: 20px;
    position: relative;
    font-size: 0;
    border: 1px solid #3eaf7c6b;
    margin: 10px;
    padding: 10px;
    border-radius: 4px;
    /* box-shadow: 1px 1px 5px #cccccc69; */
}

.item .details .site:hover{
    background-color: #3eaf7c2e;
    transition: background-color .2s;
}

.el-image {
    position: relative;
    display: inline-block;
    overflow: hidden;
}

 .item .details .site .el-image {
    vertical-align: middle;
    width: 20px;
    height: 20px;
}

.el-image__inner {
    vertical-align: top;
}

.item .details .site .el-image .el-image__inner {
    border-radius: 50%;
}

.text-ellip {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.item .details .site .name {
    display: inline-block;
    width: 130px;
    color: #262729;
    font-size: 15px;
    vertical-align: middle;
    margin-left: 10px;
    -webkit-transition: .24s;
    transition: .24s;
}

.clearfix:after {
    content: "";
    display: block;
    clear: both;
}
.clearfix {
    zoom: 1;
}
.fl{
    float: left;
}
.fr{
    float: right;
}

img {
    display: block;
}

button, fieldset, img {
    border: none;
    outline: none;
}
.el-image__error, .el-image__inner, .el-image__placeholder {
    width: 100%;
    height: 100%;
}
